@use "../utilitaire/box-shadow.scss";


.menu{
    background-color: #f6f6f6;
    padding: 16px;
    padding-bottom: 32px;

    

    .carte {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:30px;
        @media (max-width:1000px){
            grid-template-columns: repeat(1, 1fr);
        }
    .new{
        position:relative;
        
    }

    .new::before{
        content: "Nouveau";
        position: absolute;
        height:32px;
        width:70px;
        background-color: #99E2D0;
        color: darken($color: #99e2d0, $amount: 50%);
        display: grid;
        place-items: center;
        right:12px;
        margin-top: 16px;
        

    }
        
    }

        
        
        
    
       }



       
    .card{

        border: #f6f6f6;
        background-color: #f6f6f6;
        @include box-shadow.box-shadow;
        border-radius: 16px;
        
        min-width: 100%;
        &__image{
            background-image: url(Images/menu1.jpg);
            height:200px;
            background-size: cover;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            background-position: 0px;
        }
        &__image-2 {
            background-image: url(Images/menu-2.jpg);
        }
        
        &__image-3 {
            background-image: url(Images/menu-3.jpg);
        }

        &__image-4 {
            background-image: url(Images/menu-4.jpg);
        }

    &__description {
        
        position:relative;
        h3{
            margin: 8px;
            margin-top: 16px;
        }
        p{
            margin-left: 8px;
            margin-top: -4px;
            
        }
        

    }

   
    i{
        font-size: 32px;
        position: absolute;
        right: 0px;
        bottom: 10px;
        align-items: center;
        padding-right: 20px;
       
    }

    .fa-solid{
        color: transparent;
        background-image: linear-gradient(to top, rgb(148,0,211), rgb(255,192,203));
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: 200ms;
    }
    .fa-solid:hover{
        opacity: 1;
    }
    }


   
    


