/*Paris Belleville*/

.paris{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #f3f3f3;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    color: rgb(92, 90, 90);
    i{
       font-size: 20px;
    }
    
}